{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if game %}
        {% if game.image_url %}
            <img src="{{ game.image_url }}" alt="{{ game.name }}">
        {% else %}
            <img src="{% static 'images/empty-page.png' %}" alt="placeholder">
        {% endif %}
        <h1>{{ game.name }}</h1>
        <p>Platform: {{ game.platform }}</p>
        <p>Release date: {{ game.release_date }}</p>
        <p>{{ game.description }}</p>
        <p>Genres: {% for g in game.genres.all %}{{ g.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        {% if avg_rating %}
            <p>Average Rating: {{ avg_rating|floatformat:1 }} / 5</p>
        {% else %}
            <p>No reviews yet.</p>
        {% endif %}
    {% endif %}

{% endblock %}