# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb

# Virtual environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
