.game-details {
    width: 80%;
    margin: 0 auto;
}

.game-title {
    text-align: center;
    margin: 25px 0;
}

.game-details-layout {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin: 10px 0;
}

.game-info {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
}

.game-image {
    flex: 0 0 320px;
}

.game-image img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.game-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.info-row {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    align-items: center;
}

.info-label {
    font-weight: 500;
    color: #777;
    min-width: 120px;
}

.info-value {
    font-weight: 600;
    color: #222;
}

.info-value a {
    text-decoration: none;
    color: #56ccc8;
    font-weight: 600;
}

.info-value a:hover {
    text-decoration: underline;
}