@import "base.css";
@import "footer.css";
@import "game_details.css";
@import "game_form.css";
@import "games_list.css";
@import "genres_list.css";
@import "navigation.css";
@import "platforms_list.css";
@import "reviews_list.css";
@import "welcome.css";
