html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  min-height: 86.1%;
  background-color: #e6d6ff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
      color: white;
      text-decoration: none;
    }

.nav {
      display: flex;
      justify-content: center;
      background-color: #002d69;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 92%;
}

.nav img {
      width: 200px;
}

nav section {
      display: flex;
      gap: 40px;
}

span {
      padding-top:3px;
      font-size: 14px;
}

footer {
      background-color: #002d69;
      color: white;
      display: flex;
      justify-content: center;
      padding: 21px 0;
      width: 100%;
}

footer p {
      font-size: 1.5em;
      margin: 0;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found > img {
    width: 25%;
}

