html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  min-height: 80.8%;
  background-color: #e6d6ff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
      color: white;
      text-decoration: none;
    }

.nav {
      display: flex;
      justify-content: center;
      background-color: #002d69;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 92%;
}

.nav img {
      width: 200px;
}

nav section {
      display: flex;
      gap: 40px;
}

span {
      padding-top:3px;
      font-size: 14px;
}

footer {
      background-color: #002d69;
      color: white;
      display: flex;
      justify-content: center;
      padding: 21px 0;
      width: 100%;
}

footer p {
      font-size: 1.5em;
      margin: 0;
}

.image-text-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-text-wrapper .welcome {
    width: 25%;
}

.image-text-wrapper .not-found {
    width: 40%;
}

 .title {
    padding: 15px;
    margin: 15px;
    font-size: 44px;
    font-weight: 600;
  }

  .games-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        min-height: 78vh;
  }

.games {
    width: 100%;
 }

.game-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 10px;
}

.game-name {
      color: #9990ff;
      font-size: 28px;
}

.created-date {
      color: #56ccc8;
}

.button-purple {
    background-color: #56ccc8;
    color: white;
}

.empty-page {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.empty-page img {
    max-width: 400px;
}

