.image-text-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-text-wrapper .welcome {
    width: 25%;
}

.image-text-wrapper .not-found {
    width: 40%;
}