{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>{{ page_title }}</h1>
        <div class="top-container">
            <a href="{% url 'add_game' %}" class="btn btn-primary">
                Add Game
            </a>
            <form method="get" class="search-form">
                <div class="search-group">
                    {{ search_form.query }}
                    <button type="submit" class="btn btn-info">
                        Search
                    </button>
                </div>
            </form>
        </div>
        <div class="games-list">
            {% for game in games %}
                <div class="games">
                    <div class="game-container">
                        <img src="{{ game.image_url|default:'/static/images/empty-page.png' }}" alt="{{ game.name }}">
                        <h2 class="name">{{game.name}}</h2>
                        <a href="{% url 'game_details' game.id %}">
                            <button type="button" class="btn btn-info">View Game</button>
                        </a>
                    </div>
                </div>
            {% empty %}
                <div class="empty-page">
                      <div><img src="{% static 'images/empty-page.png' %}" alt="open-book"></div>
                      <h2>There are no games added yet.</h2>
                </div>
            {% endfor %}
    </div>

{% endblock %}