{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <nav class="secondary-nav">
        <div class="nav-wrapper">
            <div class="nav-left-center">
                {% if user.is_authenticated %}
                    <a href="{% url 'add_game' %}" class="button-teal">Add Game</a>
                {% endif %}
                <form method="get" class="search-form">
                    <div class="search-group">
                        {{ search_form.query }}
                        <button type="submit" class="button-teal">Search</button>
                    </div>
                </form>
            </div>

            {% if user.is_authenticated %}
                {% if current_genre or current_platform %}
                    <div class="nav-right">

                        {% if current_genre %}
                            <a href="{% url 'edit_genre' current_genre.slug %}" class="button-teal">Edit Genre</a>
                            <a href="{% url 'delete_genre' current_genre.slug %}" class="button-teal btn-danger">Delete Genre</a>
                        {% endif %}

                        {% if current_platform %}
                            <a href="{% url 'edit_platform' current_platform.slug %}" class="button-teal">Edit Platform</a>
                            <a href="{% url 'delete_platform' current_platform.slug %}" class="button-teal btn-danger">Delete Platform</a>
                        {% endif %}

                    </div>
                {% endif %}
            {% endif %}
        </div>
    </nav>
    <div class="games-list">
        {% for game in games %}
            <div class="games">
                <div class="game-container">
                    <img src="{{ game.image_url|default:'/static/images/empty-page.png' }}" alt="{{ game.name }}">
                    <h2 class="name">{{game.name}}</h2>
                    <a href="{% url 'game_details' game.id %}">
                        <button type="button" class="btn btn-info">View Game</button>
                    </a>
                </div>
            </div>
        {% empty %}
            <div class="empty-page">
                  <div><img src="{% static 'images/empty-page.png' %}" alt="open-book"></div>
                  <h2>There are no games added yet.</h2>
            </div>
        {% endfor %}
    </div>

{% endblock %}